@font-face { font-family: Overlock; src: url('../fonts/Overlock-Regular.ttf'); }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-Italic.ttf'); font-style: italic; }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-Bold.ttf'); font-weight: bold; }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-BoldItalic.ttf'); font-style: italic; font-weight: bold; }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-Black.ttf'); font-weight: 900; }
@font-face { font-family: Overlock; src: url('../fonts/Overlock-BlackItalic.ttf'); font-weight: 900; font-style: italic; }

body {
    background: #222 url('../img/black_pattern02.jpg') repeat top center;
    color: #bbb;
    font-family: Overlock, Helvetica, Arial, Sans-Serif;
    text-align: center;
}

a, a:active, a:visited {
    color: #fff;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #bbb;
    font: 16px/24px Overlock;
    margin-bottom: 0;
    text-shadow: -1px -1px 0 #000;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}


h1 {
    font: 900 30px Overlock;
    margin-top: 40px;
}

h2 {
    color: #DB601C;
    font: 26px Overlock;
    margin-top: 40px;
}

h2 small {
    color: #EADFAB;
    font: italic 14px Overlock;
}

h3 {
    color: #ADC54F;
    font: 20px Overlock;
    margin-top: 40px;
}

h3 small {
    color: #EADFAB;
    font: italic 14px Overlock;
}

h4 {
    color: #fff;
    font: 18px Overlock;
    margin-top: 40px;
}

h4 em {
    color: #ABD5EA;
}

h4 small {
    color: #EADFAB;
    font: italic 14px Overlock;
}

h4 small.type {
    background-color: #555555;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font: italic 12px Overlock;
    padding: 0 5px;
    vertical-align: 2px;
}

.leading {
    margin-top: 20px;
}

pre {
    background-color: #000000;
    border-radius: 3px 3px 3px 3px;
    overflow-x: auto;
    padding: 20px 30px;
}

kbd {
    background-color: #000000;
    font-size: 14px;
    padding: 3px 7px;
}

ul, ol {
    color: #bbb;
    text-shadow: -1px -1px 0 #000;
}

footer {
    font-size: 12px;
    margin: 0 auto;
    padding: 20px 30px;
    text-align: left;
    text-shadow: 1px 1px 0 #000000;
    width: 720px;
}

.row:before,
.row:after {
    content:"";
    display:table;
}

.row:after {
    clear:both;
}

.row {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.columns {
    float: left;
    margin-left: 30px;
}

.columns:first-child {
    margin-left: 0;
}

.two.columns {
    width: 345px;
}

.three.columns {
    width: 220px;
}

img.frame {
    border: 5px solid #fff;
    margin-top: 20px;
}

#go_back {
    color: #999999;
    font-size: 12px;
    margin-top: 3px;
    text-decoration: underline;
    text-shadow: 1px 1px 0 #000000;
}

#share {
    margin: 15px auto 0;
    width: 720px;
}

#share .twitter {
    display: inline-block;
    vertical-align: -5px;
    width: 90px;
}

#share .facebook {
    display: inline-block;
    margin-left: 15px;
    width: 73px;
}

#share .google {
    display: inline-block;
    vertical-align: -5px;
    width: 60px;
}

#warning {
    background-color: #B72B2B;
    border-bottom: 3px solid #801414;
    color: white;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    text-shadow: 1px 1px 0 #801414;
    top: 0;
    width: 100%;
}

#wrapper {
    margin: 0 auto;
    padding: 5px 30px 20px;
    text-align: left;
    width: 720px;
}

#logo {
    color: #FFFFFF;
    float: right;
    font-size: 21px;
    margin-bottom: 0;
    margin-top: 0;
}

#menu {
    float: right;
    margin-top: 10px;
}

#menu li {
    display: inline;
}

#menu a {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 3px;
    color: #ddd;
    display: inline-block;
    margin-left: 6px;
    padding: 2px 8px;
    text-decoration: none;
}

#menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#menu a.download {
    background: #abc438; /* Old browsers */
    background: -moz-linear-gradient(top,  #abc438 0%, #90a445 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abc438), color-stop(100%,#90a445)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #abc438 0%,#90a445 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #abc438 0%,#90a445 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #abc438 0%,#90a445 100%); /* IE10+ */
    background: linear-gradient(top,  #abc438 0%,#90a445 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abc438', endColorstr='#90a445',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0 1px 0 #CFDB87 inset;
    -moz-box-shadow: 0 1px 0 #CFDB87 inset;
    box-shadow: 0 1px 0 #CFDB87 inset;

    color: #fff;
    
    text-shadow: -1px -1px 0 #859832;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}

#menu .parent {
    position: relative;
}

#menu .submenu {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    display: none;
    left: 0;
    padding-left: 0;
    position: absolute;
    top: 25px;
}

#menu li:hover .submenu {
    display: block;
}

#menu .submenu li {
    display: block;
}

#menu .submenu a {
    margin: 4px 10px;
}

table {
    border-left: 1px solid #282828;
    border-top: 1px solid #282828;
    width: 100%;
}

table td, table th {
    border-bottom: 1px solid #282828;
    border-right: 1px solid #282828;
    color: #bbb;
    padding: 10px 15px;
    vertical-align: top;
}

table thead th {
    background-color: #1D1D1D;
    color: #FFFFFF;
}

/* revolver examples */
.revolver.container {
    box-shadow: 0 0 8px rgba(0,0,0,0.9);
    width: 720px;
    height: 300px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.revolver.stack .slide {
    left: 0;
    position: absolute;
    top: 0;
}

.revolver.inline .slide {
    margin: 0;
    padding: 0;
    position: static;
}

.revolver.reveal .slide {
    height: 300px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 720px;
}

.controls {
    line-height: 30px;
}

.controls a {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #fff;
    padding: 2px 7px;
    text-decoration: none;
    text-shadow: 1px 1px 0 black;
}

.controls a:hover {
    background-color: #EADFAB;
    color: black;
    text-shadow: none;
}

.top {
    height: 1px;
    margin-top: 40px;
    position: relative;
}

.top hr {
    border-color: #333;
    border-style: none none dashed;
    border-width: 0 0 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 642px;
}

.top a {
    color: #777777;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.tabs {
    margin-bottom: -13px;
    text-align: right;
}

.tabs li {
    display: inline;
}

.tabs .tab {
    background-color: #111111;
    border-radius: 3px 3px 0 0;
    color: #BBBBBB;
    display: inline-block;
    font-size: 14px;
    margin-top: 0;
    padding: 3px 8px;
}

.tabs .tab:hover {
    text-decoration: none;
}

.tabs .tab.active {
    background-color: #000;
    color: #fff;
}



.hidden {
    display: none;
}

.float_right {
    float: right;
}

#disqus_thread {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 3px;
}