body {
  color: #444;
  padding: 30px;
  text-align: center;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 960px;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slider .slide {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.slider .slide.hidden {
  display: none;
}
